body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(6, 5, 107);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: wheat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
    box-sizing: border-box; 
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
#i1{
    width: 100%;
    max-width: 450px;
    height: 250px; 
}

textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box; 
}

textarea:focus {
    border-color: #010002;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background:  rgb(50, 47, 183);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #656668;
}